<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <form action="/profiles/edit/<%= profile.id %>" method="post">
            <div class="row">
              <div class="four columns">
                <label style="color:red;"><%=err%></label>
                <input class="u-full-width" placeholder="Username" name="username" type="text" value="<%= profile.username %>">
                <input class="u-full-width" placeholder="Password" name="password" type="password" value="<%= profile.password %>">
                <label for="exampleRecipientInput">Select Contact :</label>
                <select class="u-full-width" name="contact_id">
                  <%contacts.forEach(contact => {%>
                    <%if(profile.contact_id == contact.id){%>
                      <option value="<%=contact.id%>" selected><%=contact.name%></option>
                    <%}else{%>
                      <option value="<%=contact.id%>"><%=contact.name%></option>
                    <%}%>
                  <%})%>
                </select>
              </div>
            </div>
            <input class="button-primary" value="Submit" type="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
