<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>No</th>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <%profiles.forEach((profile,i) => {%>
                <tr>
                  <td><%=i+1%></td>
                  <td><%=profile.id%></td>
                  <td><%=profile.username%></td>
                  <td><%=profile.password%></td>
                  <td><%=profile.name%></td>
                  <td>
                    <a href="/profiles/edit/<%=profile.id%>"><code>Edit</code></a>
                    <a href="/profiles/delete/<%=profile.id%>"><code>Delete</code></a>
                  </td>
                </tr>
              <%})%>
            </tbody>
          </table>
          <a class="button button-primary" href="/profiles/add">+ Add Profile</a>
        </div>
      </div>
    </div>
  </body>
</html>
