<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>
    <div class="container">
      <div class="">
        <h1>Profiles Page</h1>

        <table>
          <thead>
            <tr>
              <th><a href="/">Home</a></th>
              <th><a href="/contacts">Contacts</a></th>
              <th><a href="/groups">Groups</a></th>
              <th><a href="/profiles">Profile</a></th>
              <th><a href="/addresses">Addresses</a></th>
            </tr>
          </thead>
        </table><br>

        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Password</th>
              <th>Contact Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% dataProfiles.forEach((data) => { %>
              <tr>
                <td><%= data.id %></td>
                <td><%= data.username %></td>
                <td><%= data.password %></td>
                <td><%= data.name %></td>
                <td>
                  <a class="button button-outline" href="/profiles/edit/<%= data.id %>">Edit</a>
                  <a class="button" href="/profiles/delete/<%= data.id %>">Delete</a>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>

        <a class="button" href="/profiles/add">Add Profile</a>
      </div>
    </div>
  </body>
</html>
