<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Address</title>
</head>
<style>
	.adress-table{
		width: 100%;
	}
</style>
<body>
	<nav class="main-menu">
		<ul>
			<li><a href="/contacts">Contacts</a></li>
			<li><a href="/groups">Groups</a></li>
			<li><a href="/addresses">Addresses</a></li>
			<li><a href="/profiles">Profiles</a></li>
		</ul>
	</nav>
	<style>
		.main-menu {
			text-align: center;
			background: crimson;
		}

		.main-menu ul li {
			display: inline-block;
			padding: 10px;
		}

		.main-menu ul li a {
			text-decoration: none;
			color: #fff;
			font-style: bold;
		}

		.main-menu ul li a:hover {
			font-style: normal;
			color: wheat;
		}
	</style>
	<% if (typeof data != 'undefined') { %>
		<table class="adress-table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>STREET</th>
					<th>CITY</th>
					<th>ZIPCODE</th>
					<th>ACTION</th>
				</tr>
			</thead>

			<tbody>
				<% data.forEach((address) => {%>
					<tr>
						<td><%= address.id %></td>
						<td><%= address.street %></td>
						<td><%= address.city %></td>
						<td><%= address.zipcode %></td>
						<td>
							<a href="/addresses/edit/<%= address.id %>">Edit</a>
							<a href="/addresses/delete/<%= address.id %>">Delete</a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	<br>
	<% } %>

	<form method="post" action="<%= (typeof editItem != 'undefined') ? `/addresses/edit/${id}`  : '/addresses' %>">
		<% if (typeof editItem != 'undefined') { %>
			<h5>Editing <%= editItem.street %></h5>
		<% } %>
		
		<input type="hidden" id="id" name="id" value="<%= (typeof editItem != 'undefined') ? editItem.id  : '' %>">
		<input type="text" id="street" name="street"  placeholder="Street" value="<%= (typeof editItem != 'undefined') ? editItem.street  : '' %>">
		<input type="text" id="city" name="city"  placeholder="City" value="<%= (typeof editItem != 'undefined') ? editItem.city  : '' %>">
		<input type="text" id="zipcode" name="zipcode"  placeholder="Zipcode" value="<%= (typeof editItem != 'undefined') ? editItem.zipcode  : '' %>">

		<input type="submit" value="Tambah">
	</form>
</body>
</html>