<!DOCTYPE html>
<html>
<head>
	<title>Addresses</title>
</head>
<body>	
	<div class="nav-wrapper">
		<nav class="nav-menu" style="float: left; width: 100%">
			<ul class="clearfix">
				<li style="display: inline-block; font-size: 30px;"><a href="/contacts" style=" text-decoration-line: none;"> Contact </a></li>	
				<li style="display: inline-block; font-size: 30px;"><a href="/groups" style=" text-decoration-line: none;"> Group </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/addresses" style=" text-decoration-line: none;"> Address </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/profiles" style=" text-decoration-line: none;"> Profile </a></li>
			</ul>
		</nav>
	</div>	
	<h2> Address with Contact </h2>

	<div class="addresses">
	<table width="50%" border="1">	
		<thead align ="center">
			  <tr>
    			 <th> NAMA CONTACT </th>
    			 <th> COMPANY </th>
    			 <th> TELP </th>
    			 <th> EMAIL </th>	
       			 <th> ID </th>
    			 <th> STREET </th>
    			 <th> CITY </th>
    			 <th> ZIPCODE </th>
  			  </tr>
		</thead>
		<tbody align ="center">	
			<% for (let i = 0 ; i<contact.length ; i++ ) {%>
				<% for (let j = 0 ; j<contact[i].address.length ; j++ ) {%>
			<tr>
					<td> <%= contact[i].name %></td>
					<td> <%= contact[i].company %></td>
					<td> <%= contact[i].telp_number %></td>
					<td> <%= contact[i].email %></td>
					<td> <%= contact[i].address[j].id %></td>
					<td> <%= contact[i].address[j].street %></td>
					<td> <%= contact[i].address[j].city %></td>
					<td> <%= contact[i].address[j].zipcode %></td>
			</tr>	
				<%}%>
	 		<%}%>
		</tbody>	
	</table>
	</div>	
</body>
</html>
<!DOCTYPE