<% %>
<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>Street</td>
				<td>City</td>
				<td>Zipcode</td>
				<td>Contact Name</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<%addresses.forEach(address=>{%>
			<tr>
				<td><%=address.id%></td>
				<td><%=address.street%></td>
				<td><%=address.city%></td>
				<td><%=address.zipcode%></td>
				<td><%=address.name%></td>
				<td>
					<a href="/addresses/edit/<%=address.id%>">Edit</a>
					<a href="/addresses/delete/<%=address.id%>">Delete</a>
				</td>
			</tr>
			<%})%>
		</tbody>
	</table>

	<form action="/addresses" method="post">
  		<input type="text" name="street" placeholder="Street">
  		<input type="text" name="city" placeholder="City">
  		<input type="text" name="zipcode" placeholder="Zipcode">
  		<select name="contact">
  		<%contacts.forEach(contact=>{%>
  			<option value="<%=contact.id%>"><%=contact.name%></option>
  		<%})%>
		</select>
  		<input type="submit" value="Submit">
	</form> 
</body>
</html>