<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addresses</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td> <strong> ID </strong> </td>
        <td> <strong> Street </strong> </td>
        <td> <strong> City </strong> </td>
        <td> <strong> Zipcode </strong> </td>
      </tr>
    <%rowsAddress.forEach(function(list){%>
      <tr>
        <td> <%= list.id %> </td>
        <td> <%= list.street %> </td>
        <td> <%= list.city %> </td>
        <td> <%= list.zipcode %> </td>
        <td> <a href="/addresses/edit/<%= list.id %>" > Edit </td>
        <td> <a href="/addresses/delete/<%= list.id %>" > Delete </td>
      </tr>
    <% }) %>
  </table>
  <br>
    <form class="" action="/addresses" method="post">
      Street <br> <input type="text" name="street"> <br>
      City <br> <input type="text" name="city"><br>
      Zipcode <br> <input type="text" name="zipcode"><br>
      <input type="submit" value="Send"><br>
    </form>
  </body>
</html>
