<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addresses</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td> <strong> ID </strong> </td>
        <td> <strong> Street </strong> </td>
        <td> <strong> City </strong> </td>
        <td> <strong> Zipcode </strong> </td>
        <td> <strong> Name </strong> </td>
        <td> <strong> Company </strong> </td>
      </tr>
    <%dataAddress.forEach(function(list){%>
      <tr>
        <td> <%= list.id %> </td>
        <td> <%= list.street %> </td>
        <td> <%= list.city %> </td>
        <td> <%= list.zipcode %> </td>
        <td> <%= list.name %> </td>
        <td> <%= list.company %> </td>
      </tr>
    <% }) %>
  </table>
  </body>
</html>
