<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addresses</title>
  </head>
  <body>
    <a href="/contacts">contacts</a> | <a href="/groups">groups</a> | <a href="/addresses">address</a> | <a href="/profiles">profile</a>
    <h1>Addresses</h1>
    <div>
    <table>
      <tr>
        <th>id</th>
        <th>street</th>
        <th>city</th>
        <th>zipcode</th>
        <th>contact name</th>
        <th>company</th>
        <th>telp_number</th>
        <th>email</th>
        <th>Action</th>
      </tr>
      <!-- tampilkan semua data address -->
      
      <% rows.forEach (address => { %>
        <tr>
          <td><%= address.id %></td>
          <td><%= address.street %></td>
          <td><%= address.city %></td>
          <td><%= address.zipcode %></td>
          <td>
            <% for(let i = 0; i<contacts.length; i++){ if(contacts[i].id == address.id_contacts){  %>
                <%= contacts[i].name %> 
            <% } } %>
          </td>
          <td>
            <% for(let i = 0; i<contacts.length; i++){ if(contacts[i].id == address.id_contacts){  %>
                <%= contacts[i].company %> 
            <% } } %>
          </td>
          <td>
            <% for(let i = 0; i<contacts.length; i++){ if(contacts[i].id == address.id_contacts){  %>
                <%= contacts[i].telp_number %> 
            <% } } %>
          </td>
          <td>
            <% for(let i = 0; i<contacts.length; i++){ if(contacts[i].id == address.id_contacts){  %>
                <%= contacts[i].email %> 
            <% } } %>
          </td>
          <td><a href="/addresses/edit/<%= address.id %>">edit</a> | <a href="/addresses/delete/<%= address.id %>">delete</a> </td>
        </tr>
      <% }) %>
      
    </table>
  </div>
  
  <!-- disini tambah form untuk tambah address -->
  <div>
    <h2>Tambah Address</h2>
    <form class="" action="/addresses" method="post">
      street:   <input type="text" name="street" value="" placeholder="street"><br>
      city: <input type="text" name="city" value="" placeholder="city"><br>
      zipcode: <input type="text" name="zipcode" value="" placeholder="zipcode"><br>
      contacts: 
      <select name="id_contacts">
      <% contacts.forEach (contact => { %>
        <option value="<%= contact.id %>"><%= contact.name %></option> 
      <% }) %>
      </select>
      <br><input type="submit" name="" value="KIRIM">
    </form>
  </div>
  
  </body>
</html>

