<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Address</title>
  </head>
  <body>
    <table>
      <tr>
      <form class="" action="/addresses/edit/ <%= addressdata.id %>" method="post">
        <td>Street <input type="text" name="street" value="<%= addressdata.street %>"></td>
        <td>City <input type="text" name="city" value="<%= addressdata.city %>"></td>
        <td>Zipcode <input type="text" name="zipcode" value="<%= addressdata.zipcode %>"></td>
        <td><select name="contactsid">
          <% for(let i = 0; i < contactsdata.length; i++){ %>
            <% if (contactsdata[i].id == addressdata.id_contacts){ %>
            <option selected value="<%= contactsdata[i].id%>"><%= contactsdata[i].name %></option>
            <% } else {%>
            <option value="<%= contactsdata[i].id%>"><%= contactsdata[i].name %></option>
            <% } %>
          <% } %>
        </select></td>
        <td><input type="submit" value="Submit"></td>
      </form>
      </tr>
    </table>
  </body>
</html>