<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addresses</title>
  </head>
  <body>
    <table>
  <tr>
    <th>ID</th>
    <th>Street</th>
    <th>City</th>
    <th>Zipcode</th>
  </tr>
  <% console.log(rows) %>
  <% for(let i = 0; i < rows.length; i++){ %>
    <tr>
      <td><%= rows[i].id %></td>
      <td><%= rows[i].street %></td>
      <td><%= rows[i].city %></td>
      <td><%= rows[i].zipcode %></td>
      <td><a href="/addresses/edit/<%= rows[i].id %>"> Edit </td>
      <td><a href="/addresses/delete/<%= rows[i].id %>"> Delete </td>
    </tr>
  <% } %>
  <tr>
  <form class="" action="/addresses" method="post">
    <td></td>
    <td><input type="text" name="street"></td>
    <td><input type="text" name="city"></td>
    <td><input type="text" name="zipcode"></td>
    <td><input type="submit" value="Submit"></td>
  </form>
  </tr>
</table>
  </body>
</html>