<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="assets/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/style.css">

  <title>CONTACT-GROUPS</title>
</head>
<body>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/contacts">Contacts</a></li>
    <li><a href="/groups">Groups</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/addresses">Addresses</a></li>
  </ul>

  <div class="container" >
    <h4 class="title is-3" style="text-align:center;">EXPRESS CONTACTS - GROUPS</h4>
    <p class="subtitle is-5" style="text-align:center;">all <strong>Addresses with Contact</strong> information</p>
    <table class="table">
    <thead>

        <tr>
          <th><abbr title="id"></abbr>NO</th>
          <th>NAME</th>
          <th>COMPANY</th>
          <th>PHONE</th>
          <th>STREET</th>
          <th><abbr title="company">CITY</abbr></th>
          <th><abbr title="telp number">ZIPCODE</abbr></th>
        </tr>

    </thead>
    <tbody>
      <%for(let i=0; i<data_Addresses.length; i++){%>

          <tr>
            <th><%=i+1%></th>
            <!-- <td><%=data_Addresses[i].contact_id%></td> -->
            <%if(data_Addresses[i].contact_id){%>
              <% for(let j=0; j<data_Contacts.length; j++) {%>
                <%if(data_Addresses[i].contact_id == data_Contacts[j].id){%>
                  <td><strong><a href="#." title="full name" class="is-success"><%=data_Contacts[j].name%></a></strong></td>
                  <td><%=data_Contacts[j].company%></td>
                  <td><%=data_Contacts[j].telp_number%></td>
                <%}%>
              <%}%>
            <%}%>

            <td><%=data_Addresses[i].street%></td>
            <td><%=data_Addresses[i].city%></td>
            <td><%=data_Addresses[i].zipcode%></td>
          </tr>

      <%}%>
    </tbody>
  </table>
  <hr>


</div>

  </div>


  <script>
        function myFunction() {
          confirm("are you sure?!");
          // swal ( "Oops" ,  "Something went wrong!" ,  "error" )
          swal({
            icon: "success",
          });
        }
  </script>
</body>
</html>
