<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
</head>
<body>
	<p>Name    : <%=contact.name%></p>
	<p>Company : <%=contact.company%></p>
	<a href="/contacts">Back</a>
	<table>
		<thead>
			<tr>
				<td>ID</td>
				<td>Street</td>
				<td>City</td>
				<td>Zipcode</td>
			</tr>
		</thead>
		<tbody>
			<%addresses.forEach(address=>{%>
			<tr>
				<td><%=address.id%></td>
				<td><%=address.street%></td>
				<td><%=address.city%></td>
				<td><%=address.zipcode%></td>
			<%})%>
		</tbody>
	</table>
</body>
</html>