<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Addresses page</title>
  </head>
  <body>
    <table border="1">
      <tr>
      <th>ID</th>
      <th>STREET</th>
      <th>CITY</th>
      <th>ZIPCODE</th>
      <th>YANG PUNYA RUMAH</th>
      <th>COMPANY</th>
    </tr>
  <%for(let i = 0;i<rows.length;i++){%>
    <tr>
      <td><%= rows[i].id %></td>
      <td><%= rows[i].street %></td>
      <td><%= rows[i].city %></td>
      <td><%= rows[i].zipcode %></td>
      <td><%= rows[i].name %></td>
      <td><%= rows[i].company %></td>
        <td><a href="/Addresses/delete/<%= rows[i].id %>">delete</a></td>
        <td><a href="/Addresses/edit/<%= rows[i].id %>">edit</a></td>
    </tr>
  <%}%>
    </table>
  </body>
</html>
