<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hacktiv8</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="/contacts">CONTACT</a></li>
      <li><a href="/groups">GROUPS</a></li>
      <li><a href="/profiles">PROFILES</a></li>
      <li><a href="/addresses">ADDRESSES</a></li>
      <li><a href="/addresses_with_contact">ADDRESSES WITH CONTACT</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1>EDIT CONTACT</h1>
</div>
<div class="container">
<form class="form-inline" role="form" action="/contacts/edit/<%= data.id %>" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="TEXT" name="name" value="<%= data.name %>">
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input type="TEXT" name="company" value="<%= data.company %>">
  </div>
  <div class="form-group">
    <label for="telp_number">Number</label>
    <input type="TEXT" name="telp_number" value="<%= data.telp_number %>">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="TEXT" name="email" value="<%= data.email %>">
  </div>
    <button type="submit" class="btn btn-default">EDIT</button>
  </form>
</div>
</body>
</html>
