<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
</head>
<style>
	.contact-table{
		width: 100%;
	}
</style>
<body>
	<nav class="main-menu">
		<ul>
			<li><a href="/contacts">Contacts</a></li>
			<li><a href="/groups">Groups</a></li>
			<li><a href="/addresses">Addresses</a></li>
			<li><a href="/profiles">Profiles</a></li>
		</ul>
	</nav>
	<style>
		.main-menu {
			text-align: center;
			background: crimson;
		}

		.main-menu ul li {
			display: inline-block;
			padding: 10px;
		}

		.main-menu ul li a {
			text-decoration: none;
			color: #fff;
			font-style: bold;
		}

		.main-menu ul li a:hover {
			font-style: normal;
			color: wheat;
		}
	</style>
	<% if (typeof data != 'undefined') { %>
		<table class="contact-table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>COMPANY</th>
					<th>TELP</th>
					<th>EMAIL</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<% data.forEach((contact) => {%>
					<tr>
						<td><%= contact.id %></td>
						<td><%= contact.name %></td>
						<td><%= contact.company %></td>
						<td><%= contact.telp_number %></td>
						<td><%= contact.email %></td>
						<td>
							<a href="/contacts/edit/<%= contact.id %>">Edit</a>
							<a href="/contacts/delete/<%= contact.id %>">Delete</a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	<br>
	<% } %>

	<form method="post" onsubmit="return validateContactForm();" action="<%= (typeof editItem != 'undefined') ? `/contacts/edit/${id}`  : '/contacts' %>">
		<% if (typeof editItem != 'undefined') { %>
			<h5>Editing <%= editItem.name %></h5>
		<% } %>
		
		<input type="hidden" id="id" name="id" value="<%= (typeof editItem != 'undefined') ? editItem.id  : '' %>">
		<input type="text" id="name" name="name"  placeholder="Nama" value="<%= (typeof editItem != 'undefined') ? editItem.name  : '' %>">
		<input type="text" id="company" name="company"  placeholder="Company" value="<%= (typeof editItem != 'undefined') ? editItem.company  : '' %>">
		<input type="tel" id="telp_number" name="telp_number"  placeholder="Nomor Telepon" value="<%= (typeof editItem != 'undefined') ? editItem.email  : '' %>">
		<input type="email" id="email" name="email"  placeholder="email" value="<%= (typeof editItem != 'undefined') ? editItem.email  : '' %>">

		<input type="submit" id="btnSubmit" value="Tambah">
	</form>

	<script>
		function validateContactForm()  {
			let fieldName = document.getElementById('name').value;
			if (fieldName.length < 1) {
				alert("Nama Harus diisi");
				return false;
			}
		}
	</script>
</body>
</html>