<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  <% console.log(rows) %>
  <% for(let i = 0; i < rows.length; i++){ %>
    <tr>
      <td><%= rows[i].id %></td>
      <td><%= rows[i].name %></td>
      <td><%= rows[i].company %></td>
      <td><%= rows[i].telp_number %></td>
      <td><%= rows[i].email %></td>
      <td><a href="/contacts/edit/<%= rows[i].id %>"> Edit </td>
      <td><a href="/contacts/delete/<%= rows[i].id %>"> Delete </td>
    </tr>
  <% } %>
  <tr>
  <form class="" action="/contacts" method="post">
    <td></td>
    <td><input type="text" name="name"></td>
    <td><input type="text" name="company"></td>
    <td><input type="text" name="telp_number"></td>
    <td><input type="text" name="email"></td>
    <td><input type="submit" value="Submit"></td>
  </form>
  </tr>
</table>
  </body>
</html>