<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% data.forEach(row => { %>
    <form class="" action="/contacts/edit/<%=row.id%>" method="post">
        <input type="text" name="name" value="<%=row.name%>" >
        <input type="text" name="company" value="<%= row.company%>" >
        <input type="text" name="telp" value="<%= row.telp%>" >
        <input type="text" name="email" value="<%= row.email%>" >
        <input type="submit" name="" value="SUBMIT">
    </form>
  <%})%>

  </body>
</html>
