<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
</head>

<body>
    <% include menu.ejs %>
    <a href="/contact/add">Add</a>
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Company</th>
            <th>Telp</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% 
            let no = 0;
            rowsContacts.forEach(function(row){ 
            no++;
        %>
            <tr>
                <td>
                    <%= no %>
                </td>
                <td>
                    <%= row.name %>
                </td>
                <td>
                    <%= row.company %>
                </td>
                <td>
                    <%= row.telp_number %>
                </td>
                <td>
                    <%= row.email %>
                </td>
                <td>
                    <a href="/addresses_with_contact/<%= row.id %>">Cek Address</a>
                </td>
                <td>
                    <a href="/contact/edit/<%= row.id %>">Edit</a> | <a href="/contact/hapus/<%= row.id %>">Hapus</a>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>