
<!DOCTYPE html>
<html>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>
    <meta charset="utf-8">
    <title>CONTACTS</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Company</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
        <% let i = 1 %>
      <% rows.forEach(function(el){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= el.name %> </td>
            <td> <%= el.company %> </td>
            <td> <%= el.telp_number %> </td>
            <td> <%= el.email %> </td>
            <td> <a href="/contacts/edit/<%=el.id%>">edit</a>
            <td> <a href="/contacts/delete/<%=el.id%>">delete</a>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <% if (isEdit === true) {%>
      <p>editnya true bro</p>
      <form action="/contacts/edit/<%=rows[0].id%>" method="post">
        Name:<br>
        <input type="text" name="name" value="<%=rows[0].name%>" required=true>
        <br>
        Company:<br>
        <input type="text" name="company" value="<%=rows[0].company%>" required=true>
        <br>
        Phone Number<br>
        <input type="text" name="phoneNumber" value="<%=rows[0].telp_number%>" required=true>
        <br>
        Email<br>
        <input type="text" name="email" value="<%=rows[0].email%>" required=true>
        <br><br>
        <input type="submit" value="EDIT"=>
      </form>
    <% } %>
    <% if (isEdit === false) {%>
      <form action="/contacts" method="POST">
        Name:<br>
        <input type="text" name='name' required=true>
        <br>
        Company:<br>
        <input type="text" name='company' required=true>
        <br>
        Phone Number<br>
        <input type="text" name='phoneNumber' required=true>
        <br>
        Email<br>
        <input type="text" name='email' required=true>
        <br>
        <input type="submit" value="ADD"=>
      </form>
   <% } %>
  </body>
</html>
