<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../../assets/bulma.min.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../assets/style.css">

  <title>EDIT-CONTACT-GROUPS</title>
</head>
<body>

  <% include assets/partials/top-nav %>

  <div class="container" style="text-align:center;">
    <h4 class="title is-3">- EDIT CONTACTS -</h4>

    <form action="/contacts/edit/<%=data_Contacts.id%>" method="post">
      <div class="field">
        <label class="label" style="text-align:left;">Full Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Contacts.name%>" name="name">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" style="text-align:left;">Company</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Contacts.company%>" name="company">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" style="text-align:left;">Phone</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Contacts.telp_number%>" name="telp_number">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" style="text-align:left;">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Contacts.email%>" name="email">
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>


          <div style="text-align: center; margin-top:33px;" class="control">
            <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
            <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
          </div>
    </form>
  </div>

</body>
</html>
