
<!DOCTYPE html>
<html>
  <head>
    <style>
      table{
        border: 1px solid black;
      }
    </style>
    <meta charset="utf-8">
    <title>CONTACTS</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Company</th>
        <th>Phone Number</th>
        <th>Email</th>
        <% let i = 1 %>
      <% rows.forEach(function(el){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= el.name %> </td>
            <td> <%= el.company %> </td>
            <td> <%= el.telp_number %> </td>
            <td> <%= el.email %> </td>
            <td> <a href="/contacts/edit/<%=el.id%>">edit</a>
            <td> <a href="/contacts/delete/<%=el.id%>">delete</a>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <% if (isEdit === true) {%>
      <p>editnya true bro</p>
      <form action="/contacts/edit/<%=rows[0].id%>" method="post">
        Name:<br>
        <input type="text" name="name" value="<%=rows[0].name%>">
        <br>
        Company:<br>
        <input type="text" name="company" value="<%=rows[0].company%>">
        <br>
        Phone Number<br>
        <input type="text" name="phoneNumber" value="<%=rows[0].telp_number%>">
        <br>
        Email<br>
        <input type="text" name="email" value="<%=rows[0].email%>">
        <br><br>
        <input type="submit" value="EDIT"=>
      </form>
    <% } %>
    <% if (isEdit === false) {%>
      <form action="/contacts" method="POST">
        Name:<br>
        <input type="text" name='name' >
        <br>
        Company:<br>
        <input type="text" name='company' >
        <br>
        Phone Number<br>
        <input type="text" name='phoneNumber'>
        <br>
        Email<br>
        <input type="text" name='email'>
        <br>
        <input type="submit" value="ADD"=>
      </form>
   <% } %>
  </body>
</html>
