<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hacktiv8</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li class="active"><a href="/contacts">CONTACT</a></li>
        <li><a href="/groups">GROUPS</a></li>
        <li><a href="/profiles">PROFILES</a></li>
        <li><a href="/addresses">ADDRESSES</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2>CONTACS</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>COMPANY</th>
            <th>TEL. NUMBER</th>
            <th>EMAIL</th>
            <th>GROUPS</th>
            <th colspan="3">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <%data.forEach (row=> {%>
            <tr>
              <td><%= row.id %></td>
              <td><%= row.name %></td>
              <td><%= row.company %></td>
              <td><%= row.telp_number %></td>
              <td><%= row.email %></td>
              <td><%= dataGroups.name_of_group %></td>
              <td>
                <a href="/contacts/edit/<%= row.id %>">EDIT</a>
                <a href="/contacts/delete/<%= row.id %>">DELETE</a>
                <a href="/contacts/address/<%= row.id %>">ADDRESS</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>

      <form class="form-inline" role="form" action="/contacts" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="TEXT" name="name" placeholder="Enter Name" required="required">
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input type="TEXT" name="company" placeholder="Enter Company">
        </div>
        <div class="form-group">
          <label for="telp_number">Number</label>
          <input type="TEXT" name="telp_number" placeholder="Enter Phone Number">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="TEXT" name="email" placeholder="Enter Email">
        </div>
        <select name="ContactId">
          <%for(let i=0; i< dataGroups.length; i++){%>
            <option value="<%=dataGroups[i].id%>"><%=dataGroups[i].name_of_group%></option>
            <%}%>
          </select>
          <button type="submit" class="btn btn-default">ADD</button>
        </form>
      </div>


    </body>
    </html>
