<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HALAMAN CONTACT</title>    
  </head>
  <body style = "background-color : aquamarine">
    <div>
      <table border = "1" style = "padding: 5px 10px; font-family : sans-serif">
        <thead>
          <th><b>Id</b></th>
          <th><b>Name</b></th>
          <th><b>Company</b></th>
          <th><b>Telephone</b></th>
          <th><b>E-mail</b></th>
        </thead>

        <tbody>
        <% for (var i = 0 ; i < rowContacts.length ; i++) { %>
          <tr>
              <td><%= rowContacts[i].id %></td>
              <td><%= rowContacts[i].name %></td>
              <td><%= rowContacts[i].company %></td>
              <td><%= rowContacts[i].telp %></td>
              <td><%= rowContacts[i].email %></td>
          </tr>
        <%}%>
        </tbody>
      </table>

      <form action="/contacts" method="post">
        <%# <input type="text" name="name" value="">%>
      </form>
  </div>
  </body>
</html>
