<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>

  </head><style media="screen">
  table{
    border:1;
    width: 100%;
  }
  th,td{
    text-align: left;
    border: blue;
    padding: 1px;
  }
  h2{
    text-align: center;
  }
  </style>
<h2>Contact</h3>
  <body>
    <table>
      <form action="/contact" method="POST">
        <th><br>
        <input type="text" name="name" placeholder="name">
        <br></th>
        <th><br>
        <input type="text" name="company" placeholder="company">
        <br></th>
        <th><br>
        <input type="text" name="telp_number" placeholder="telphone number">
        <br></th>
        <th><br>
        <input type="text" name="email" placeholder="Email">
        <br></th>

        <th>

          <select name="Contactsid">
            <option value=""> dfdfdf</option>
          </select>

        </th>

        <th><br><input type="submit" value="Submit"></th>
      </form>
        <a href="/">Back to Home</a><br>
        <br>
        </table>
      <table>


    <%for(var i=0;i< data.length;i++){ %>
      <tbody>
        <td><%=data[i].id%></td>
        <td><%=data[i].name%></td>
        <td><%=data[i].company%></td>
        <td><%=data[i].telp_number%></td>
        <td><%=data[i].email%></td>
        <td><%=data[i].name_of_group%></td>
        <th>
          <a href="/contact/edit/<%=data[i].id%>">Edit</a>
          <a href="/contact/delete/<%=data[i].id%>">Delete</a>
          <a href="/addressview">Addresst</a>
        </th>
      </tbody>
    <%}%>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>company</th>
      <th>telp</th>
      <th>email</th>
      <th>Gourp</th>
      <th>Action</th>
    </thead>
    </table>

  </body>
</html>
