<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>contacts</title>

    <style media="screen">
      body{

      }
    </style>
  </head>
  <body>
    <h1>contacts</h1>
    <a href="/">Home</a>
<div class="bodycontacts">
    <table>
      <form class="" action="/contacts" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="company" placeholder="company">
        <input type="text" name="telp" placeholder="No Telpon">
        <input type="text" name="email" placeholder="email">
          <%data.forEach( row => { %>
          <option value="<%= row.name_of_group%>"></option>
            <select class="" name="name_of_group">
              <%= row.name_of_group%>
            </select>
            <% })%>

        <input type="submit" name="" value="SUBMIT">
      </form>
      <br>
      <br>

      <tr>
        <th>id</th>
        <th>name</th>
        <th>company</th>
        <th>telp</th>
        <th>email</th>
        <th>action</th>
      </tr>
    <tbody>

      <%data.forEach( row => { %>
        <tr>
          <td><%= row.id%></td>
          <td><%= row.name%></td>
          <td><%= row.company%></td>
          <td><%= row.telp%></td>
          <td><%= row.email%></td>

          <td>
            <a href='/contacts/edit/<%=row.id%>'>Edit</a>
            <a href='/contacts/delete/<%=row.id%>'>Delete</a>
          </td>
        </tr>
          <% })%>
    </tbody>
    </table>
</div>

  </body>
</html>
