<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>
  <body>
    <% for(let i=0;i<rowContacts.length;i++){ %>
      <%=rowContacts[i].ID%>
      <%=rowContacts[i].Name%>
      <%=rowContacts[i].Company%>
      <%=rowContacts[i].Telp_number%>
      <%=rowContacts[i].Email%>
      <br>
      <%}%>
    <form class="" action="/contacts" method="post">
      <td>Nama<input type="text" name="Name" value=""></td>
      <td>Company <input type="text" name="Company" value=""></td>
      <td>Telp Number <input type="text" name="Telp_number" value=""></td>
      <td>Email</td> <input type="text" name="Email" value="">
      <td> <input type="submit" value="Submit!"></td>
    </form>

  </body>
</html>
