<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
</head>
<body>	
	<h2> Contacts </h2>
	<div class="contacts">
	<table width="100%">	
		<thead align ="center">
			  <tr>
    			 <th> ID </th>
    			 <th> NAME </th>
    			 <th> COMPANY </th>
    			 <th> TELP_NUMBER </th>
    			 <th> EMAIL </th>
  			  </tr>
		</thead>
		<tbody align ="center">	
			<%for (let i = 0 ; i<data.length ;i++ ){%>
			<tr>
				<td> <%= data[i].id %> </td>
				<td> <%= data[i].name %> </td>
		  		<td> <%= data[i].company %>  </td>
		  		<td> <%= data[i].telp_number %> </td>
		  		<td> <%= data[i].email %> </td>
		  		<td> <a href ="/contacts/edit/<%= data[i].id %>">Edit</a> </td>
		  		<td> <a href ="/contacts/delete/<%= data[i].id %>">Delete</a> </td>
			<%}%>
			</tr>
		</tbody>	
	</table>
	</div>	
	<table>
		<thead align ="center">
			  <tr>
    			 <th> NAME </th>
    			 <th> COMPANY </th>
    			 <th> TELP_NUMBER </th>
    			 <th> EMAIL </th>
  			  </tr>
		</thead>
<% if(edited !== undefined) {%>
<% console.log(edited) %>
	<h2> EDIT </h2>
	<tbody align ="center">	
		<tr>
		<form action="/contacts/edit" method="post">
			<td><input type="text" name="name" value="<%= data[edited].name %>"></td>
			<td><input type="text" name="company" value="<%= data[edited].company %>"></td>
			<td><input type="text" name="telp_number" value="<%= data[edited].telp_number %>"></td>
			<td><input type="text" name="email" value="<%= data[edited].email %>"></td>
			<td><input type="submit" value="replace"></td>
			<input type="hidden" name="id" value="<%= data[edited].id %>">
		</form>	
		</tr>
	</tbody>	
<%}%>	

<% if(edited == undefined) {%>
	<h2> ADD </h2>
	<tbody align ="center">	
		<tr>
		<form action="/contacts" method="post">
			<td><input type="text" name="name" ></td>
			<td><input type="text" name="company"></td>
			<td><input type="text" name="telp_number"></td>
			<td><input type="text" name="email"></td>
			<td><input type="submit" value="kirim"></td>
		</form>		
		</tr>
	</tbody>		
<%}%>
    </table>	
</body>
</html>
<!DOCTYPE