<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>name:</p>
    <p><%=contact[0].name%></p>
    <p>company:</p>
    <p><%=contact[0].company%></p>

    <table>
      <tr>
        <th>Street</th>
        <th>City</th>
        <th>Zipcode</th>
      </tr>
      <%for(var i = 0; i < addresses.length; i++){%>
        <tr>
          <td><%=addresses[i].street%></td>
          <td><%=addresses[i].city%></td>
          <td><%=addresses[i].zipcode%></td>
        </tr>
      <%}%>
    </table>
    <form class="" action="/contacts/addresses/<%=contact[0].id%>" method="post">
      <input type="input" name="street" value="" placeholder="street">
      <input type="input" name="city" value="" placeholder="city">
      <input type="input" name="zipcode" value="" placeholder="zipcode">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
