<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <form class="" action="/profiles/edit/<%=rowProfiles.ID%>" method="post">
      <td>Username <input type="text" name="Username" value="<%=rowProfiles.username%>"></td>
      <td>Password <input type="text" name="Password" value="<%=rowProfiles.password%>"></td>
      <td><select name="contactsID">
        <%for(let i=0;i<rowContacts.length;i++){%>
        <option value="<%=rowContacts[i].ID%>"><%=rowContacts[i].Name%></option>
        <%}%>
      </select></td>
      <td> <input type="submit" value="Submit Edit!"></td>
  </body>
</html>
