<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <form action="/profile/edit/<%= dataJsonProfiles[0].id %>" method="post">
    Username:
    <br>
    <input type="text" name="username" value="<%= dataJsonProfiles[0].username %>">
    <br>
    Password:
    <br>
    <input type="text" name="password" value="<%= dataJsonProfiles[0].password %>">
    <br>
    Contact Name:
    <br>
    <select name="contact_id">
      <% for(var y = 0; y < dataJsonContacts.length; y++){ %>
      <option value="<%= dataJsonContacts[y].id %>"><%= dataJsonContacts[y].name %></option>
      <% } %>
    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
