<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Contact</title>
</head>

<body>
    <% include menu.ejs %>
    <table>
        <form action="/contact/edit/<%= rowsContacts.id %>" method="post">
            <tr>
                <td><input type="text" name="nama" placeholder="Isi Nama" value="<%= rowsContacts.name %>"></td>
            </tr>
            <tr>
                <td><input type="text" name="company" placeholder="Isi company" value="<%= rowsContacts.company %>"></td>
            </tr>
            <tr>
                <td><input type="text" name="telp" placeholder="Isi Telpon/Hp" value="<%= rowsContacts.telp_number %>"></td>
            </tr>
            <tr>
                <td><input type="email" name="email" placeholder="Isi Email" value="<%= rowsContacts.email %>"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Edit"></td>
            </tr>
        </form>
    </table>
</body>

</html>