<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body>
  <form action="/contacts/edit/<%= dataJsonContacts[0].id %>" method="post">
    Name:
    <br>
    <input type="text" name="name" value="<%= dataJsonContacts[0].name %>">
    <br>
    Company:
    <br>
    <input type="text" name="company" value="<%= dataJsonContacts[0].company %>">
    <br>
    Telp. Number:
    <br>
    <input type="text" name="telp_number" value="<%= dataJsonContacts[0].telp_number %>">
    <br>
    Email:
    <br>
    <input type="text" name="email" value="<%= dataJsonContacts[0].email %>">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
