<!DOCTYPE html>
<html>
  <head>
    <%include ./partials/head%>
    <title>Contacts</title>
  </head>
  <body>
    <%include ./partials/menu%>
    <%include ./partials/contents%>
    <!-- ------------START CONTENTS---------------- -->
    <div class="tile is-ancestor">
      <form action="/contacts/edit/<%=dataContacts.id%>" method="post">
        Name:<br>
        <input class="input is-light" type="text" name="name" value="<%=dataContacts.name%>" required>
        <br>
        Company:<br>
        <input class="input is-light" type="text" name="company" value="<%=dataContacts.company%>" required>
        <br>
        Telepon:<br>
        <input class="input is-light" type="text" name="telp_number" value="<%=dataContacts.telp_number%>" required>
        <br>
        Email:<br>
        <input class="input is-light" type="text" name="email" value="<%=dataContacts.email%>" required>
        <br><br>
        <div class="field is-grouped">
          <p class="control">
            <input class="button is-primary" type="submit" value="Edit">
          </p>
          <p class="control">
            <a href="/contacts" class="button is-light">
              Batal
            </a>
          </p>
        </div>
      </form>
    </div>
    <!-- ------------END CONTENTS---------------- -->
    <%include ./partials/footers%>
  </body>
</html>
