<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Groups</title>
</head>
<body>
     <table>
        <tr>
            <th>No</th>
            <th>Group</th>
        <% let i = 1 %>
         <% data.forEach(function(group){%>
            <tr>
                 <td> <%= i %> </td>
                 <td> <%= group.name_of_group %> </td>
                 <td> <a href="/groups/edit/<%=group.id%>">edit</a>
                 <td> <a href="/groups/delete/<%=group.id%>">delete</a>
            </tr>
        <% i++ })%>
             </tr>
    </table>
        <% if (edited === false) {%>
        <form action="/groups" method="post">
         Name:<br>
         <input type="text" name="name" >
        <br>
         <input type="submit" value="ADD"=>
      </form>
     <% } %>
     <% if (edited === true) {%>
    <form action="/groups/edit/<%=data[0].id%>" method="post">
        Name:<br>
         <input type="text" name="name" value="<%=data[0].name_of_group%>">
        <br>
        <input type="submit" value="EDIT"=>
        </form>
    <% } %>
</body>
</html>