<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Group</title>
</head>
<style>
	.group-table{
		width: 100%;
	}
</style>
<body>
	<% if (typeof data != 'undefined') { %>
		<table class="group-table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>ACTION</th>
				</tr>
			</thead>

			<tbody>
				<% data.forEach((group) => {%>
					<tr>
						<td><%= group.id %></td>
						<td><%= group.name_of_group %></td>
						<td>
							<a href="/groups/edit/<%= group.id %>">Edit</a>
							<a href="/groups/delete/<%= group.id %>">Delete</a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	<br>
	<% } %>

	<form method="post" action="<%= (typeof editItem != 'undefined') ? `/groups/edit/${id}`  : '/groups' %>">
		<% if (typeof editItem != 'undefined') { %>
			<h5>Editing <%= editItem.name_of_group %></h5>
		<% } %>
		
		<input type="hidden" id="id" name="id" value="<%= (typeof editItem != 'undefined') ? editItem.id  : '' %>">
		<input type="text" id="name" name="name_of_group"  placeholder="Nama group" value="<%= (typeof editItem != 'undefined') ? editItem.name_of_group  : '' %>">

		<input type="submit" value="Tambah">
	</form>
</body>
</html>