<!DOCTYPE html>
<html>
<head>
	<title>Groups</title>
</head>
<body>
	<div class="nav-wrapper">
		<nav class="nav-menu" style="float: left; width: 100%">
			<ul class="clearfix">
				<li style="display: inline-block; font-size: 30px;"><a href="/contacts" style=" text-decoration-line: none;"> Contact </a></li>	
				<li style="display: inline-block; font-size: 30px;"><a href="/groups" style=" text-decoration-line: none;"> Group </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/addresses" style=" text-decoration-line: none;"> Address </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/profiles" style=" text-decoration-line: none;"> Profile </a></li>
			</ul>
		</nav>
	</div>		
	<h2> Groups </h2>
	<div class="groups">
	<table width="50%%" border="1">	
		<thead align ="center">
			  <tr>
    			 <th> ID </th>
    			 <th> Group Name </th>
  			  </tr>
		</thead>
		<tbody align ="center">	
			<%for (let i = 0 ; i<data.length ;i++ ){%>
			<tr>
				<td> <%= data[i].id %> </td>
				<td> <%= data[i].name_of_group %> </td>
		  		<td> <a href ="/groups/edit/<%= data[i].id %>">Edit</a> </td>
		  		<td> <a href ="/groups/delete/<%= data[i].id %>">Delete</a> </td>
			<%}%>
			</tr>
		</tbody>	
	</table>
	</div>	
	<table>
		<thead align ="center">
			  <tr>
    			 <th> Group Name </th>
  			  </tr>
		</thead>
<% if(edited !== undefined) {%>
<% console.log(edited) %>
	<h2> EDIT </h2>
	<tbody align ="center">	
		<tr>
		<form action="/groups/edit" method="post">
			<td><input type="text" name="name_of_group" value="<%= data[edited].name_of_group %>"></td>
			<td><input type="submit" value="replace"></td>
			<input type="hidden" name="id" value="<%= data[edited].id %>">
		</form>	
		</tr>
	</tbody>	
<%}%>	

<% if(edited == undefined) {%>
	<h2> ADD </h2>
	<tbody align ="center">	
		<tr>
		<form action="/groups" method="post">
			<td><input type="text" name="name_of_group" ></td>
			<td><input type="submit" value="kirim"></td>
		</form>		
		</tr>
	</tbody>		
<%}%>
    </table>	
</body>
</html>
<!DOCTYPE