<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
    <meta charset="utf-8">
    <title>GROUPS</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>
        <th>Group</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
        <% let i = 1 %>
      <% groups.forEach(function(el){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= el.name_of_group %> </td>
            <td> <a href="/groups/edit/<%=el.id%>">edit</a>
            <td> <a href="/groups/delete/<%=el.id%>">delete</a>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <% if (isEdit === false) {%>
    <form action="/groups" method="post">
      Name:<br>
      <input type="text" name="name" required=true>
      <br>
      <select name="contact" required=true>
        <option value="">--select contact--</option>
        <% contacts.forEach(function(eq){%>
          <option value="<%=eq.id%>"><%=eq.name %></option>
        <% }) %>
      </select>
      <br/>
      <input type="submit" value="ADD"=>
  </form>
    <% } %>
  <% if (isEdit === true) {%>
  <form action="/groups/edit/<%=groups[0].id%>" method="post">
    Name:<br>
    <input type="text" name="name" value="<%=groups[0].name_of_group%>" required=true>
    <br>
    <select name="contact" required=true>
      <option value="">--select contact--</option>
    <% contacts.forEach(function(eq){
      if(eq.id===groups[0].contacts_id){%>
        <option value="<%=eq.id%>" selected><%=eq.name %></option>
      <%}else{%>
        <option value="<%=eq.id%>"><%=eq.name %></option>
      <%}%>
    <% }) %>
  </select>
  <br>
    <input type="submit" value="EDIT"=>
  </form>
  <% } %>
  </body>
</html>
