<!DOCTYPE html>
<html>

  <head>
    <title>R&P - Studio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="assets/css/custom/style.css" type="text/css">

  </head>
  <body>
    <header>
      <div id="menu">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-12">
              <div class="logo">
                <a href="/">
                  <img src="assets/img/logo.png" alt="rnp-studio-logo" class="img-fluid">
                  <span><h2 class="studio">Studio</h2></span>
                </a>
              </div>
            </div>
            <div class="col-xl-8 col-md-8 col-sm-12">
              <nav>
                <ul>
                  <li><a href="/">HOME</a></li>
                  <li><a href="/contacts">CONTACTS</a></li>
                  <li><a href="/groups">GROUPS</a></li>
                  <li><a href="/address">ADDRESS</a></li>
                  <li><a href="/profiles">PROFILE</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" >
      <div class="row" id="contacts">

        <div class="col-md-12 col-xs-12" id="sub-title">
          <h1 class="text-center">GROUPS</h1>
        </div>

        <div class="col-md-12 col-xs-12" id="add">
          <form class="" action="" method="post">
            <fieldset>
              <legend>Add Groups</legend>
              <input type="text" name="name" placeholder="Masukkan Nama Groups">
              <input type="submit" name="submit" value="SUBMIT" class="btn btn-primary">
            </fieldset>

          </form>
        </div>
        <hr>
        <div class="col-md-12 col-xs-12" id="show">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">NAME</th>
                <th class="text-center">CONTACTC</th>
                <th class="text-center">OPTION</th>
              </tr>
            </thead>
            <!-- tampilkan semua data contacts -->
            <% rows.forEach (groups => { %>
              <tbody>
                <tr>
                  <td class="text-center"><%= groups.id %></td>
                  <td><%= groups.name_of_group %></td>
                  <td><%= groups.contacts %></td>
                  <td class="text-center"><a href="/groups/contacts/<%= groups.id %>">Assign Contact</a> | <a href="/groups/edit/<%= groups.id %>">Edit</a> | <a href="/groups/delete/<%= groups.id %>">Delete</a> </td>
                </tr>
              </tbody>
            <% }) %>

          </table>
        </div>
      </div>
    </div>
    <section id="service">

    </section>

    <footer>
      Copyright &copy 2017 - Riski Nugroho Putra
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
