<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groups</title>
</head>
<body>
  <h1>Groups Database</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>GROUP NAME</th>
      <th>Contacts Involved</th>
    </tr>
    <% for (var i = 0; i < dataJsonGroups.length; i++) { %>
      <tr>
        <td><%= dataJsonGroups[i].id %></td>
        <td><%= dataJsonGroups[i].name_of_group %></td>
        <td>
          <ol>
            <% for(let y = 0; y < dataJsonContactsGroups.length; y++){ %>
              <% if(dataJsonGroups[i].id === dataJsonContactsGroups[y].id_groups){ %>
                <li><%= dataJsonContactsGroups[y].name %></li>
              <% } %>
            <% } %>
          </ol>
        </td>
        <td><a href="/groups/contacts/<%= dataJsonGroups[i].id %>">Assign Contacts</a></td>
        <td><a href="/groups/edit/<%= dataJsonGroups[i].id %>">edit</a></td>
        <td><a href="/groups/delete/<%= dataJsonGroups[i].id %>">delete</a></td>
      </tr>
    <% } %>
  </table>
  <br><br>
  <form action="/groups" method="post">
    Name:
    <br>
    <input type="text" name="name_of_group">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h4>Navigate to Another Path Here:</h4>
  <ul>
    <li><a href="/contacts">View Contacts Database</a></li>
    <li><a href="/groups">View Groups Database</a></li>
    <li><a href="/profile">View Profiles Database</a></li>
    <li><a href="/addresses">View Addresses Database</a></li>
  </ul>
</body>
</html>
