<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="">
      <form class="" action="" method="post">
        <input type="text" name="username" value="<%=rowProfile.Username%>">
        <input type="password" name="password" value="<%=rowProfile.Password%>">
        <select class="" name="contact_id">
          <%let profile = rowProfile.ContactID %>
          <%for (let i = 0; i<contact.length;i++) {%>
            <%if (profile === contact[i].Id) {%>
              <option value="<%=contact[i].Id%>" selected><%=contact[i].Name%></option>
            <%}%>
            <%if (profile !== contact[i].Id) {%>
            <option value="<%=contact[i].Id%>"><%=contact[i].Name%></option>
            <%}%>

          <%}%>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
