<html>

<head>
    <title>
        Edit Profile
    </title>
</head>

<body>
    <header>
        <h3>
            Edit Data Profile
        </h3>
    </header>
    <%= message%>
        <div class="edit-data">
            <form action="/profiles/edit/<%= dataProfile.id%>" method="POST">
                Username : <br>
                <input type="text" name="username" value="<%= dataProfile.username%>" /> <br>
                <br> Password : <br>
                <input type="text" name="password" value="<%= dataProfile.password%>" /> <br>
                <br>

                <select name="idContact"> 
                <% dataContact.forEach((contact)=> { if(contact.id == dataProfile.idContact){%>
                    <option value="<%= contact.id%>" selected>
                            <%= contact.name%>
                    </option>
                    <% }else{%>
                        <option value="<%= contact.id%>">
                                <%= contact.name%>
                        </option>
                    <%}})%> 
            </select> <br>
                <br>
                <input type="submit" value="Save">
            </form>


        </div>
</body>

</html>