
<!DOCTYPE html>
<html>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th {
      background-color: white;
    }
    td, th {
      text-align: left;
      padding: 3px;
    }
    </style>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Contacts</th>
      </tr>
        <% let i = 1 %>
      <% rowProfile.forEach(function(row){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= row.username %> </td>
            <td> <%= row.password %> </td>
            <td> <%= row.name %> </td>
            <td><a href="/profile/edit/<%=row.id%>">edit || </a>
                <a href="/profile/delete/<%=row.id%>">delete ||</a>
            </td>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <br>
      <%if(edit === false) {%>
      <form action="/profile" method="post">      
        <td><input type="text" name="username" placeholder="username" required></td> &nbsp;
        <td><input type="text" name="password" placeholder="password" required></td> &nbsp;        
        <input type="submit" value="ADD" align="right">
      </form>
      <%}%>
      <% if (edit === true) {%>
        <form action="/profile/edit/<%=rowProfile[0].id%>" method="post">
          <td><input type="text" name="username" value="<%=rowProfile[0].username%>"  placeholder="username"></td> &nbsp;
          <td><input type="text" name="password" value="<%=rowProfile[0].password%>"  placeholder="password"></td> &nbsp;
          <input type="submit" value="EDIT" align="right">
        </form>
        <%}%>
  </body>
</html>