<!DOCTYPE html>
<html>
<head>
	<title>profiles</title>
</headprofiles<body>
	<div class="nav-wrapper">
		<nav class="nav-menu" style="float: left; width: 100%">
			<ul class="clearfix">
				<li style="display: inline-block; font-size: 30px;"><a href="/contacts" style=" text-decoration-line: none;"> Contact </a></li>	
				<li style="display: inline-block; font-size: 30px;"><a href="/groups" style=" text-decoration-line: none;"> Group </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/addresses" style=" text-decoration-line: none;"> Address </a></li>
				<li style="display: inline-block; font-size: 30px;"><a href="/profiles" style=" text-decoration-line: none;"> Profile </a></li>
			</ul>
		</nav>
	</div>		
	<h2> Profil </h2>
	<div class="profiles">
	<table width="50%" border="1">	
		<thead align ="center">
			  <tr>		
			  	 <th> ID </th>
    			 <th> USERNAME </th>
    			 <th> PASSWORD </th>
    			 <th> CONTACT_ID </th>
    			 <th> NAME </th>
    			 <th colspan="2"> ACTION </th>
  			  </tr>
		</thead>
		<tbody align ="center">	
			<% let tempContact = [] %>
			<%for (let i = 0 ; i<data.length ;i++ ){%>
				<% tempContact.push(data[i].contact_id) %>
			<tr>
				<td> <%= data[i].id %> </td>
				<td> <%= data[i].username %> </td>
		  		<td> <%= data[i].password %>  </td>
		  		<td> <%= data[i].contact_id %>  </td>
		  		<td> <%= data[i].name %>  </td>
		  		<td> <a href ="/profiles/edit/<%= data[i].id %>">Edit</a> </td>
		  		<td> <a href ="/profiles/delete/<%= data[i].id %>">Delete</a> </td>
			<%}%>
			</tr>
		</tbody>	
	</table>
	</div>	
	<table>
		<thead align ="center">
			  <tr>
    			 <th> USERNAME </th>
    			 <th> PASSWORD </th>
    			 <th> CONTACT_ID </th>
  			  </tr>
		</thead>
<% if(edited !== undefined) {%>
	<h2> EDIT </h2>
	<tbody align ="center">	
		<tr>
		<form action="/profiles/edit" method="post">
			<td><input type="text" name="username" value="<%= data[edited].username %>"></td>
			<td><input type="password" name="password" value="<%= data[edited].password %>"></td>
			<td><input type="text" name="contact_id" value="<%= data[edited].contact_id %>"></td>
			<td><input type="submit" value="replace"></td>
			<input type="hidden" name="id" value="<%= data[edited].id %>">
		</form>	
		</tr>
	</tbody>	
<%}%>	

<% if(edited == undefined) {%>
	<h2> ADD </h2>
	<tbody align ="center">	
		<tr>
		<form action="/profiles" method="post" onsubmit="return validasi_input(this, <% data %>)">
			<td><input type="text" name="username" ></td>
			<td><input type="password" name="password"></td>
			<td><select id="contact_id" name="contact_id" existContact= "<%= tempContact %>" >
			<option value=""></option>
			<%for (let i = 0 ; i<data.length ;i++ ){%>
			<option value= <%= data[i].contact_id %> > <%= data[i].name %> </option>
			<%}%>		
			</select>
			</td>
			<td><input type="submit" value="kirim"></td>
		</form>		
		</tr>	
			<script type="text/javascript">
				function validasi_input(form){
						let e = document.getElementById('contact_id');
						let selected = e.options[e.selectedIndex].value;
						let contactExist = e.getAttribute('existContact')
  						if (contactExist.indexOf(selected) != -1){
    						alert("Contact sudah di pakai");
    						return false;
    					}		
				}
			</script>			
	</tbody>		
<%}%>
    </table>	
</body>
</html>
<!DOCTYPE