<% %>
<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
</head>
<body>
<%=message%>
	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td>Username</td>
				<td>Password</td>
				<td>Contact</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<%profiles.forEach(profile=>{%>
			<tr>
				<td><%=profile.id%></td>
				<td><%=profile.username%></td>
				<td><%=profile.password%></td>
				<td><%=profile.name%></td>
				<td>
					<a href="/profiles/edit/<%=profile.id%>">Edit</a>
					<a href="/profiles/delete/<%=profile.id%>">Delete</a>
				</td>
			</tr>
			<%})%>
		</tbody>
	</table>

	<form action="/profiles" method="post">
  		<input type="text" name="username" placeholder="Username">
  		<input type="text" name="password" placeholder="Password">
  		<select name="contact">
  		<%contacts.forEach(contact=>{%>
  			<option value="<%=contact.id%>"><%=contact.name%></option>
  		<%})%>
		</select> 
  		<input type="submit" value="Submit">
	</form> 
</body>
</html>