<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/style/css/common.css">
    <title>Profile Page</title>
</head>
<body>
    <section>
        <div class="header">Daftar Profile</div>
        <div class="content">
            <%if(data.length === 0){%>
                <div class="empty">Data Kosong!</div>
            <%}else{%>
                <table border="1">
                    <tr>
                        <td>No</td>
                        <td>Username</td>
                        <td>Password</td>
                        <td>Action</td>
                    </tr>
                    <%data.map((value,i)=>{%>
                    <tr>
                        <td><%=i + 1%></td>
                        <td><%=value.username%></td>
                        <td><%=value.password%></td>
                        <td>
                            <a href="/profiles/edit/<%=value.id%>"><button type="button">Edit</button></a>
                            <a href="/profiles/delete/<%=value.id%>"><button type="button">Hapus</button></a>
                        </td>
                    </tr>
                    <%})%>
                </table>
            <%}%>
        </div>
    </section>
    <section class="other-page">
        <div class="header">Profile Baru</div>
        <div class="content">
            <form action="/profiles" method="post">
                <table border="1">
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" placeholder="Type your username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" placeholder="Type your password"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Tambah"></td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</body>
</html>
