<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>
    <h1>Groups Page</h1>

    <table>
      <thead>
        <tr>
          <th><a href="/">Home</a></th>
          <th><a href="/contacts">Contacts</a></th>
          <th><a href="/groups">Groups</a></th>
          <th><a href="/profiles">Profile</a></th>
          <th><a href="/addresses">Addresses</a></th>
        </tr>
      </thead>
    </table><br>

    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Contacts Member</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% dataGroups.forEach((data) => { %>
          <tr>
            <td><%= data.id %></td>
            <td><%= data.name_of_group %></td>
            <td><%= data.name.join(', ') %></td>
            <td>
              <a href="/groups/assign_contacts/<%= data.id %>">Assign Contacts</a>
              <a href="/groups/edit/<%= data.id %>">Edit</a>
              <a href="/groups/delete/<%= data.id %>">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <h4><a href="/groups/add">Add Group</a></h4>
  </body>
</html>
