<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <form action="/addresses/edit/<%= address.id %>" method="post">
            <div class="row">
              <div class="four columns">
                <input class="u-full-width" placeholder="Street" name="street" type="text" value="<%= address.street %>">
                <input class="u-full-width" placeholder="City" name="city" type="text" value="<%= address.city %>">
                <input class="u-full-width" placeholder="Zipcode" name="zipcode" type="text" value="<%= address.zipcode %>">
              </div>
            </div>
            <input class="button-primary" value="Submit" type="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
