<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Contacts App</title>
  </head>
  <body>
    <h1>Addresses Page</h1>

    <table>
      <thead>
        <tr>
          <th><a href="/">Home</a></th>
          <th><a href="/contacts">Contacts</a></th>
          <th><a href="/groups">Groups</a></th>
          <th><a href="/profiles">Profile</a></th>
          <th><a href="/addresses">Addresses</a></th>
        </tr>
      </thead>
    </table>

    <table border="1px">
      <thead>
        <tr>
          <th>ID</th>
          <th>Street</th>
          <th>City</th>
          <th>Zipcode</th>
          <th>Contact Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% dataAddresses.forEach((data) => { %>
          <tr>
            <td><%= data.id %></td>
            <td><%= data.street %></td>
            <td><%= data.city %></td>
            <td><%= data.zipcode %></td>
            <td><%= data.name %></td>
            <td>
              <a href="/addresses/edit/<%= data.id %>">Edit</a>
              <a href="/addresses/delete/<%= data.id %>">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <h4><a href="/addresses/add">Add Address</a></h4>
  </body>
</html>
