<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <span><b>Name :</b> <%=contact.name%></span><br>
          <span><b>Company :</b> <%=contact.company%></span><br>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>No</th>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>Zipcode</th>
              </tr>
            </thead>
            <tbody>
              <%contact.addresses.forEach((address,i) => {%>
                <tr>
                  <td><%=i+1%></td>
                  <td><%=address.id%></td>
                  <td><%=address.street%></td>
                  <td><%=address.city%></td>
                  <td><%=address.zipcode%></td>
                </tr>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
