<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <h1>Contacts</h1>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Telp</th>
        <th>Email</th>
        <th>option</th>
      </tr>
      </thead>
      <tbody>
        <%dataContacts.forEach((item)=>{%>
          <tr>
          <td><%=item.id%></td>
          <td><%=item.name%></td>
          <td><%=item.company%></td>
          <td><%=item.telp_number%></td>
          <td><%=item.email%></td>

          <td>
            <a href="/contacts/edit/<%=item.id%>">Edit</a>
            <a href="/contacts/delete/<%=item.id%>">Delete</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>


    <div class="container">
    <h3>Add Contact</h3>
      <form class ="form" action="/contacts" method="POST">
        <input id="name" type="text" name="name" placeholder="Name">
        <br>
        <input id= "company" type="text" name="company" placeholder="Company">
        <br>
        <input id="telp_number" type="text" name="telp_number" placeholder="Telp">
        <br>
        <input id="email" type="text" name="email" placeholder="Email">
        <br>
      </div>
      <div class="col-xs-4 col-md-2">
        <br>
        <input type="submit" value ="Submit">
        </div>
    </div>
  </div>

  </body>
  <style>
  table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}
table#t01 th {
  color: white;
  background-color: black;
}
  </style>
</html>
