<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <form action="/contacts/edit/<%= contact.id %>" method="post">
            <div class="row">
              <div class="four columns">
                <input class="u-full-width" placeholder="Full Name" name="name" type="text" value="<%= contact.name %>">
                <input class="u-full-width" placeholder="Company" name="company" type="text" value="<%= contact.company %>">
                <input class="u-full-width" placeholder="Phone Number" name="telp_number" type="text" value="<%= contact.telp_number %>">
                <input class="u-full-width" placeholder="Email" name="email" type="email" value="<%= contact.email %>">
              </div>
            </div>
            <input class="button-primary" value="Submit" type="submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
