<!DOCTYPE html>
<html>
  <% include ../partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-fourth column" style="margin-top: 10%; margin-bottom: 10%">
          <h2><%= title %></h2>
          <p>Express Contacts Groups</p>
          <% include ../partial/menu.ejs %>
          <table class="u-full-width">
            <thead>
              <tr>
                <th>No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Company</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Groups</th>
                <th>Option</th>
              </tr>
            </thead>
            <tbody>
              <%contacts.forEach((contact,i) => {%>
                <tr>
                  <td><%=i+1%></td>
                  <td><%=contact.id%></td>
                  <td><%=contact.name%></td>
                  <td><%=contact.company%></td>
                  <td><%=contact.telp_number%></td>
                  <td><%=contact.email%></td>
                  <td><%=contact.name_of_group.join(', ')%></td>
                  <td>
                    <a href="/contacts/addresses/<%=contact.id%>"><code>Address</code></a>
                    <a href="/contacts/edit/<%=contact.id%>"><code>Edit</code></a>
                    <a href="/contacts/delete/<%=contact.id%>"><code>Delete</code></a>
                  </td>
                </tr>
              <%})%>
            </tbody>
          </table>
          <a class="button button-primary" href="/contacts/add">+ Add Contact</a>
          <a class="button button-primary" href="/addresses_with_contact">Addresses Detail</a>
        </div>
      </div>
    </div>
  </body>
</html>
