<%- include('../partials/header.ejs')%>
<%- include('../partials/menu.ejs')%>

  <table class="table table-striped">
    <thead>
      <tr>
      	<th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Telp Number</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <%contact.forEach(item=>{%>
      <tr>
        <td><%=item.id%></td>
        <td><%=item.name%></td>
        <td><%=item.company%></td>
        <td><%=item.telp_number%></td>
        <td><%=item.email%></td>
        <td>
          <a href="/addresses_with_contact" class="btn btn-primary" role="button">Address</a>
        	<a href="#" class="btn btn-primary" role="button">Add</a>
        	<a href="/contacts/edit/<%=item.id%>" class="btn btn-primary" role="button">Edit</a>
        	<a href="/contacts/delete/<%=item.id%>" class="btn btn-primary" role="button">Delete</a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>

<%- include('../partials/footer.ejs')%>