<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;}
tr:nth-child(even) {
    background-color: #dddddd;}
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}
input[type=submit] {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;}
input[type=submit]:hover {
    background-color: #45a049;}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;}
    </style>
    <meta charset="utf-8">
    <title>CONTACTS</title>
  </head>
  <body>
    <table width="10%">
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Company</th>
        <th>Telp</th>
        <th>Email</th>
        <% let i = 1 %>
      <% rows.forEach(function(row){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= row.name %> </td>
            <td> <%= row.company %> </td>
            <td> <%= row.telp_number %> </td>
            <td> <%= row.email %> </td>
            <td> <a href="/contacts/edit/<%=row.id%>">edit</a>
            <td> <a href="/contacts/delete/<%=row.id%>">delete</a>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <% console.log(rows) %>
    <% if (edit == true) {%>
      <form action="/contacts/edit/<%=rows[0].id%>" method="post">
        Name:
        <input type="text" name="name" value="<%=rows[0].name%>">
        Company:
        <input type="text" name="company" value="<%=rows[0].company%>">
        Phone Number
        <input type="text" name="telp" value="<%=rows[0].telp_number%>">
        Email
        <input type="text" name="email" value="<%=rows[0].email%>">
        <input type="submit" value="EDIT"=>
      </form>
    <% } %>
    <% if (edit === false) {%>
      <form action="/contacts" method="POST">
        Name:
        <input type="text" name='name'  required>
        Company:
        <input type="text" name='company' >

        Phone Number
        <input type="text" name='phoneNumber'>
        Email
        <input type="text" name='email'>
        <input type="submit" value="ADD"=>
      </form>
   <% } %>
  </body>
</html>
