<!DOCTYPE html>
<html>
  <head>
  <style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;}
tr:nth-child(even) {
  background-color: #dddddd;}
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;}
input[type=submit] {
  font-family: arial, sans-serif;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;}
input[type=submit]:hover {
  background-color: #45a049;}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;}
  </style>
    <meta charset="utf-8">
    <title>GROUPS</title>
  </head>
  <body>
    <table>
      <tr>
        <th>No</th>
        <th>Group</th>
        <% let i = 1 %>
      <% rows.forEach(function(row){%>
          <tr>
            <td> <%= i %> </td>
            <td> <%= row.name_of_group %> </td>
            <td> <a href="/groups/edit/<%=row.id%>">edit</a>
            <td> <a href="/groups/delete/<%=row.id%>">delete</a>
          </tr>
        <% i++ })%>
      </tr>
    </table>
    <% if (isEdit === false) {%>
    <form action="/groups" method="post">
      Name:<br>
      <input type="text" name="name" >
      <br>
      <input type="submit" value="ADD"=>
  </form>
    <% } %>
  <% if (isEdit === true) {%>
  <form action="/groups/edit/<%=rows[0].id%>" method="post">
    Name:<br>
    <input type="text" name="name" value="<%=rows[0].name_of_group%>">
    <br>
    <input type="submit" value="EDIT"=>
  </form>
  <% } %>
  </body>
</html>
