
<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>

    </head>
    <body>
           
            
        <table>
            <thead></thead>
            <tr>
                <%=data.name%>
              <th>ID</th>
              <th>Street</th>
              <th>City</th>
              <th>ZipCode</th>
              
            </tr>
        </thead>
            <tbody>

            <tr>
                    <tr>
                           
            
                          <td><%=data.id%></td>
                          <td><%=data.street%></td>
                          <td><%=data.city%></td>
                          <td><%=data.zipcode%></td>
                          
                         
                          
                        </tr>
                       
              
            </tr>
            
        </tbody>
          </table>
          <br>  
    </body>
</html>