<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts Edit</title>
  </head>
  <body>
    <h2>Edit Contacts</h2>
    <form action="/contacts/edit/<%= id %>" method="post">
      <p>Name: <input type="text" name="name" value="<%= name %>" required/></p>
      <p>Phone: <input type="number" name="phone" value="<%= telp_number %>" required/></p>
      <p>Email: <input type="email" name="email" value="<%= email %>"/></p>
      <p>Company: <input type="text" name="company" value="<%= company %>"></p>
      <button>SUBMIT EDIT</button>
    </form>
  </body>
</html>