<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profiles</title>
  </head>
  <body>
      <h2>Add Profiles</h2>
      <form action="/profiles" method="post">
        <p>Username: <input type="text" name="username" required/></p>
        <p>Password: <input type="text" name="password" required/></p>
        <button>SUBMIT PROFILES</button>
      </form>

      <table style="width: 100%">
        <thead>
          <tr>
            <th>ID Profiles</th>
            <th>Username</th>
            <th>Password</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% profiles.forEach(profile => { %>
            <tr>
              <td align="center"><%= profile.id %></td>
              <td align="center"><%= profile.username %></td>
              <td align="center"><%= profile.password %></td>
              <td align="center">
                <a href="/profiles/edit/<%= profile.id %>">edit</a>
                <a href="/profiles/delete/<%= profile.id %>">delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  </body>
</html>